.sidebar {
  padding: 0.75rem;
  width: 20%;
  background-color: #1f1f23;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar__top {
  flex: 1;
}

.sidebar__top > h5 {
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.sidebar__topShowMore {
  color: #a970ff;
  cursor: pointer;
}

.sidebar__bottom {
  position: sticky;
  bottom: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #4f4f52;
}

.sidebar__bottomContainer {
  background-color: #4f4f52;
  width: 90%;
  display: flex;
  height: 2.5rem;
  border-radius: 0.5rem;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.25rem;
}

.sidebar__bottom > div > input {
  margin-left: 0.75rem;
  border: none;
  outline: none;
  font-size: large;
  width: 100%;
  background-color: transparent;
  text-align: right;
}

@media (max-width: 700px) {
  .sidebar {
    width: 25%;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 33%;
  }
}
